<!DOCTYPE html>
<html>

<head>
  <title>dkfjskjfslfjk</title>
  <style>
    html,
    body {
      margin: 0;
      padding: 0
    }
  </style>
</head>

<body>
  <div style='width: 100%; height: 200px; padding: 0px; margin: 0px; border: 1px solid black; background-color: bisque'></div>
  <div style='display: flex'>
  <div style='width: 20%; height: 200px; padding: 0px; margin: 0px; border: 1px solid black; background-color: bisque; display: flex; justify-content: center'></div>
  <div style='width: 60%; height: 200px; padding: 0px; margin: 0px; border: 1px solid black; background-color: bisque; display: flex; justify-content: center'></div>
  <div style='width: 20%; height: 200px; padding: 0px; margin: 0px; border: 1px solid black; background-color: bisque; display: flex; justify-content: center'></div>
  </div>
  <div style='width: 100%; height: 200px; padding: 0px; margin: 0px; border: 1px solid black; background-color: bisque'></div>
</body>

</html>